<ul>
	<li>Id <%= id %></li>
	<li>Username <%= username %></li>
	<li>First name <%= first_name %></li>
	<li>Last name <%= last_name %></li>
	<li>Created at <%= created_at %></li>
	<li>Updated at <%= updated_at %></li>
</ul>

<ul>
	<li>Id <%= id %></li>
	<li>Username <%= content %></li>
	<li>Created at <%= created_at %></li>
	<li>Updated at <%= updated_at %></li>
</ul>